body {font-family: "Times New Roman", Georgia, Serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
  font-family: serif;
}
  
@media screen and (max-width: 670px) {
  .w3-bar-item{
    display: flex;
    justify-content: center;
  }
}